h1 {
    COLOR: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-weight: bold;
}

img {
    max-width: 45%;
}

.column {
    display: inline-block;
    width: 48%;
}

.col1 {
    background-color: yellow;
}

.col2 {
    background-color: black;
}


.col1 h1 {
    color: green;
}

#one {
    border: 5px solid black ;
}
