h1 {
    COLOR: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-weight: bold;
}

img {
    max-width: 35%;
    display: block;
}

.column {
    display: inline-block;
    width: 48%;
}

.col1 {
    background-color: yellow;
}

.col2 {
    background-color: black;
}


.col1 h1 {
    color: green;
}

#one {
    border: 5px solid black ;
}

/** HERO SECTION**/
.hero {
    height: 100vh;
    background-image: url("catstakingaselfie.jpg");
    background-repeat: no-repeat;
    /** wont repeat a small background to fill the page **/
    background-size: cover;
    position: relative;
}

.intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

/**ABOUT SECTION**/
.container {
    max-width: 1200px;
    display: block;
    margin: auto;
}

.col-30 {
    width: 29%;
}

.col-70 {
    width: 69%;
}

.content {
    padding-left: 20px;
    padding-top: 40px;
    vertical-align: bottom;
}

@media screen and (max-width: 767px) {
    .column {
        display: block;
        width: 100%;
    }

}

.logo {
    width: 35%;
    display: block;
}

.no-list {
    list-style: none;
    padding: 0;
}

.nav-items li {
    display: inline-block;
    width: 100px;
}

.nav-items li:hover{
    background-color: pink;
    cursor: pointer;
}